img {
    width: 100%;
    border-radius: 5px;
}
.row {
    display: flex;
}
.row a {
	text-decoration: none;
}
.column {
    width: 25%;
    padding: 5px;
    position: relative;
}
input[name="delNos"] {
    display: none;
}
.btns {
   margin-right: 3px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: white;
   color: black;
   font-size: 18px;
   padding: 10px 18px;
   cursor: pointer;
}
.btn-row {
   margin-top: 5px;	
}
/* all */
.all {
    border-color: #04AA6D;
    color: #04AA6D;
}
.all:hover {
    background-color: #04AA6D;
    color: white;
}
/* upload */
.upload {
    border-color: #ff9800;
    color: #ff9800;
}
.upload:hover {
    background-color: #ff9800;
    color: white;
}
/* delete */
.delete {
    border-color: #f44336;
    color: #f44336;
}
.delete:hover {
    background-color: #f44336;
    color: white;
}

.column>label {
    position: absolute;
    margin: 10px;
    cursor: pointer;
}

input[name="delNos"]+span {
    position: absolute;
    display: none;
    text-align: center;
    line-height: 13px;
    color: rgb(0, 0, 0, 0);
    border: 2px solid rgb(233, 88, 88);
    width: 15px;
    height: 15px;
    border-radius: 999em;
    user-select: none;
    z-index: 1;
}
input[name="delNos"]:checked+span {
    color:rgb(196, 192, 187);
    opacity: 1;
    background-color: rgb(233, 88, 88);
}